 .box{
    display: flex;
    flex-direction: column;
    color: white;
    align-items:center;
  background-color: rgb(53, 212, 170);
   border-radius:7px;
   text-align: center;
   margin-bottom: 130px;
   margin-top: 100px;
   transition: transform 0.2sec;
}
.icon{
   color: yellow;
}
.box:hover{
    -ms-transform: scale(1.15);
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
 
} 


  