.footer {
    background-color: rgb(245, 245, 208);
    padding: 20px;
    text-align: center;
   
    margin-top: 30px;
  }
  
  .footer h3 {
    margin-bottom: 10px;
  }
  
  .footer span {
    color: blue;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons .SocialIcon {
    margin: 5px;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .footer {
      border-radius: 10px;
    }
  }
  